html {
    background: 
        radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.4), transparent 60%),
        radial-gradient(circle at center, #1a1a1a, #000000 60%);
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
}

h1, h2 {
    font-family: 'Supernova', sans-serif;
    text-align: center;
    margin: 20px 0; /* Add spacing between elements */
}

.para1 {
    font-family: 'Pink Fresh', sans-serif;
    text-align: center;
    font-weight: lighter;
    margin: 20px 0; /* Add spacing between elements */
}

button {
    background-color: #080908; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 20px 0; /* Add spacing between elements */
    cursor: cell;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: 'Jolly Sweater', sans-serif;
                                                
}

.btn:hover {
    background-color: white;
    color: black;
    border-color: rgb(72, 26, 223); 
    transition-duration: 0.6s; 
    transform: scale(1.1); 
    box-shadow: 0px 0px 10px rgb(154, 197, 63); 
    text-decoration: none; 
    font-weight: bolder; 
}
.btn:active {
   
    background-color: white;
    color: rgb(229, 23, 23);
    border-color: rgb(17, 192, 70); 
    transition-duration: 0.6s; 
    transform: scale(1.1); 
    box-shadow: 0px 0px 10px rgb(106, 63, 197); 
    text-decoration: none; 
    font-weight: bolder; 
    background-color: aquamarine;
}

a{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer a {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.3s;
}
footer a:hover {
    color: rgb(202, 193, 20);
    text-decoration: underline; 
}
footer a:active {
    color: rgb(127, 255, 157);
    transition: 0.7s;
}

h2:hover{ color: rgb(202, 193, 20);
    transition: 0.7s; 
    font-size: xx-large; 
}
h2:active{ color: rgb(127, 255, 157);
    transition: 1.5ss; 
    font-size: xx-large; 
}
